:root {
    /* Font family tokens */
    --font-family-primary: "Chakra Petch", Arial, Helvetica, sans-serif;
    --font-family-secondary: "Silkscreen", "Courier New", Courier, monospace;
    
    /* Other tokens */
    --padding-standard: 10px;
    --border-standard: 5px solid;

    --header-height: 80px;
  }

  body.dark {
    --primary-color: #1e211d;
    --secondary-color: #3d3d3d;
    --tertiary-color: #2a2a2a;
    --background-color: #151914;
    --accent-color: #78a3da;
    --font-color-default: #dbdbdb;
    --font-color-secondary: #d2b5b5;
    --font-color-tertiary: #adaead;
    --border-color: #7d7979;
    --card-background-color: #585858;
    --card-hover-color: #434242;
    --card-select-color: #5a3b2a;

    --left-color: #333931;
    --right-color: #564e4e;
  }

  body.light {
    /* Light Theme */
    --primary-color: #dfdfdf;
    --secondary-color: #a39e9e;
    --tertiary-color: #d3d3d3;
    --font-color-default: #1e1e1e;
    --font-color-secondary: #463636;
    --font-color-tertiary: #2b2b2b;
    --border-color: #7d7979;
  }