body {
  font-family: var(--font-family-primary);
  text-align: center;
}

.title, h1 {
  font-family: var(--font-family-secondary);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 2rem;
  gap: 2rem;
}

p,
a,
ul,
li,
label,
input[type="submit"] {
  font-family: var(--font-family-primary);
}

/* p {
  background-color: var(--secondary-color-dark);
  color: var(--font-color-tertiary-dark);
} */

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 10px;
}

form {
  background-color: #b3b2b2;
  padding: 20px;
  margin: 30px auto;
  display: inline-block;
  text-align: left;
}

label {
  color: #5a5a5a;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #5678a3;
}

.boxed,
.match,
.links,
.match-item,
.user {
  color: #a3a1a1;
  width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.first-place {
  border: 2px solid rgb(135, 0, 0);
  padding: 5px;
}

svg.icon {
  display: inline;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  padding-top: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
  font-weight: 900;
}

.user-nav-container {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: start;
}

.matchups {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.matchup-item {
  border: 2px solid #5a5400; 
  padding: 10px;
  text-align: center;
}

.matchup-item h2 {
  margin: 0;
  color: #d2b5b5; 
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.bracket-desc {
  min-width: 20em;
  width: min-content;
  font-size: 1.5em;
  padding: 1.2em;
}

.horizontal-line {
  position: absolute;
  top: 50%; 
  left: 0;
  width: 100%; 
  height: 5px; 
  background-color: black; 
}

 .header-image {
  width: 10%;
  height: 10%;
  border-radius: 50%;
 }

/* Dark theme styles */
body.dark {
  background-color: var(--primary-color-dark);
}

body.dark header,
body.dark .boxed,
body.dark .match,
body.dark .links,
body.dark .match-item,
body.dark .user {
  background-color: var(--secondary-color-dark);
}

header {
  border: 5px solid #000000;
}

body.dark h1,
body.dark p,
body.dark input[type="submit"] {
  color: var(--font-color-tertiary-dark);
}

body.dark label {
  color: var(--secondary-color-dark);
}

body.dark h2 {
  background-color: var(--tertiary-color-dark);
  color: var(--font-color-secondary-dark);
}

a {
  color: var(--accent-color);
}

form {
  background-color: #b3b2b2;
}

/* Light theme styles */
body.light {
  background-color: var(--primary-color-light);
}

body.light header,
body.light .match,
body.light .links,
body.light .match-item,
body.light .user {
  background-color: var(--secondary-color-light);
}

body.light h1,
body.light p,
body.light .boxed,
body.light label,
body.light input[type="submit"] {
  color: var(--font-color-primary-light);
}

body.light h2 {
  background-color: var(--tertiary-color-light);
  color: var(--font-color-secondary-light);
}