body {
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  background-color: #2c2626;
  text-align: center;
}

.title, h1 {
  font-family: 'Silkscreen', 'Courier New', Courier, monospace;
}

h1 {
  background-color: #3d3d3d;
  color: #dbdbdb;
}

h2 {
  background-color: #333232;
  color: #9e6c6c;
}

h3 {
  color: #adaead;
}

p, a, ul, li, label, input[type="submit"] {
  font-family: 'Chakra Petch', sans-serif;
}

p {
  background-color: #2f3832;
  color: #a3a1a1;
}

a {
  color: #78a3da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 10px;
}

form {
  background-color: #b3b2b2;
  padding: 20px;
  margin: 30px auto;
  display: inline-block;
  text-align: left;
}

label {
  color: #5a5a5a;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #78a3da;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #5678a3;
}

.boxed, .match, .links, .match-item {
  color: #a3a1a1;
  background-color: #3d3d3d;
  border: 5px solid #7d7979;
  width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.first-place {
  border: 2px solid rgb(135, 0, 0);
  padding: 5px;
}
